body
{
	margin:0;
	padding:0;
	background:url("14.jpg");
	background-size: 100% 100%;
	background-position:center;

	font-family:sans-serif;
	height:100%;
	width:100%;
}
.loginbox
{
position:relative;
margin-top:8%;
left:39%;

width:350px;
height:420px;
padding:60px 40px;
box-sizing:border-box;
background:rgba(0,0,0,0.7);
border-radius:30px;
}

h2
{	margin:0;
	padding:0,0,20px;
	color:white;
	text-align:center;
}

.loginbox p
{	
	margin-top: 40px;
   font-weight:bold;
	color:white;
}

.loginbox input
{
	width:100%;
	magin-bottom:20px;
}

.loginbox input[type="text"], .loginbox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:white;
	font-size:16px;
}

.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background:#668cff;
	cursor:printer;
	border-radius:20px;
}

